<div class="row m-0 " id="projects">
  <h1>Proyectos
    <button class="btn btn-outline-link " routerLink="/newproyecto" *ngIf="isLogged">
      <i class="fa-solid fa-circle-plus  fa-2x btnadd "></i>
    </button>
  </h1>

  <div class="contenedor text-center" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <div  class="content" *ngFor=" let proyecto of proyecto">
      <h2>{{proyecto.nombre}}</h2>
      <p>{{proyecto.descripcion}}</p>
      <div class="botones">
        <a href="{{proyecto.pagelink}}" class="btn mr-2"><i class="fas fa-link"></i>Link</a>
        <a href="{{proyecto.githublink}}" class="btn"><i class="fab fa-github"></i>Github</a>
      </div>
      <div class="borrarEditar">
        <td *ngIf="isLogged">
          <button class="btn btn-outline-link minibtnEliminar" (click)="delete(proyecto.id)">
            <i class="fa-sharp fa-solid fa-trash"></i></button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-outline-link  minibtnEditar" routerLink="/editproyecto/{{proyecto.id}}">
            <i class="fa-solid fa-pen-to-square "></i></button>
        </td>
      </div>
    </div>
    </div>

    <!--<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/Logosproyecto/web2.jfif" class="img-fluid img-proyecto">
    </div>-->



  </div>



  <!---<div class="botonesProyecto">
      <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
    <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
    </div>-->