

<div class="row m-0" id="AcercaDe" style="background-color: #3a226c; "> 
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 " > 
        
          <img src="{{persona.img}}" class="img-fluid" id="fotodeperfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " id="acercade">
          <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
        </div>
    
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 " id="aboutme">
        <span>
            <h1> <img src="../../../assets/Logosproyecto/[.gif" alt="" height="70px" width="50px">Acerca de mi<img
              src="../../../assets/Logosproyecto/].gif" alt="" height="70px" width="50px">
              <button  class="btn btn-outline-link" routerLink="/editacercade/3" *ngIf="isLogged">
                <i class="fa-solid fa-pen-to-square fa-2x btnadd  " ></i>
              </button> 

              <img src="../../../assets/Logosproyecto/giphy8.gif" alt="" height="40px" width="30px" *ngIf="!isLogged"></h1>
            <p>{{persona.descripcion}}</p>
        </span>
        <a download href="../../../assets/Romina Jurado CV!.pdf"><button class="download-cv">Download CV <i class="fa-solid fa-download"></i></button></a>
       </div>
</div>
