

<div class="row m-0" id="AcercaDe"> 
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1" > 
        
          <img src="../../../assets/Logosproyecto/IMG_20210912_231807.jpg" class="img-fluid" id="fotodeperfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="acercade">
          <p id="nombre">Romina Jurado</p>
        <p>Full Stack Developer Jr.</p>
        </div>
    
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="aboutme">
        <span>
            <h1> Acerca de mí <img src="../../../assets/Logosproyecto/giphy8.gif" alt="" height="40px" width="30px"></h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum veniam incidunt aspernatur, et enim impedit, eaque laudantium architecto suscipit assumenda tenetur officiis, ea fuga a nemo dolorem obcaecati? Delectus, ipsam?</p>
        </span>
        <a download href="../../../assets/Romina Jurado CV!.pdf"><button class="download-cv">Download CV <i class="fa-solid fa-download"></i></button></a>
       </div>
</div>
