h1{
    
    color: white;
    font-size: 40px; 
    text-align: center;
    margin: 0px 0px 35px;
    padding: 25px;
    text-shadow: 2px 2px 2px #7e7e7e; 


}
.row{
    background: rgb(27,0,75);
    background: linear-gradient(0deg, rgba(27,0,75,1) 34%, rgba(58,34,108,1) 86%);
  background-position: center;
}