h1{
  font-family: "Poppins",sans-serif;
  color: white;
  font-size: 3rem; 
  text-align: left;
  margin: 40px 90px 40px;
  text-shadow: 2px 2px 2px #7e7e7e; 
  padding: 25px;
}


.row{
    background: rgb(27,0,75);
    background: linear-gradient(0deg, rgba(27,0,75,1) 34%, rgba(58,34,108,1) 86%);
  background-position: center;
}

.btnadd{
  color: aqua;
}
.btnadd:hover{
  color: white;
  transition: 0.3s;
}

.minibtn{
  color: white;
}
.minibtn:hover{
  color: rgb(107, 112, 112);
  transition: 0.3s;
}


.circulos{
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* para q se pongan las cjas una arriba de otra*/
  align-items: center;

}

/* Scroll Personalizado */


@media screen and (max-width: 600px) {
  .h1{
    align-items: center;
    margin-left: 0;
  }
  
}
@media(max-width: 576px){
 
    h1{
      font-size: 2.5em;
    text-align: left;
    margin: 4px 1px 35px;
    text-shadow: 2px 2px 2px #7e7e7e;
    padding: 9px;
    }
}
