<!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- Footer -->
    
    <footer
    
            class="text-center text-lg-start text-white footer"
            style="background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(27,0,75,1) 81%);font-family: 'Poppins', sans-serif;;
"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: 25px">
                Romina Jurado <i class="fa-solid fa-code"></i>
              </h6>
              <p>
              
              </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" >
              <h6 class="text-uppercase mb-4 font-weight-bold" >
                Links
              </h6>
              <p >
                <a class="text-white" href="#home" style="text-decoration:none;">Home</a>
              </p>
              <p>
                <a class="text-white" href="#AcercaDe" style="text-decoration:none;">About me</a>
              </p>
              <p>
                <a class="text-white" href="#education" style="text-decoration:none;">Education</a>
              </p>
              <p>
                <a class="text-white" href="#projects" style="text-decoration:none;">Projects</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact me</h6>
              <p><i class="fas fa-home mr-3"></i> Caballito, CABA.</p>
              <p><i class="fas fa-envelope mr-3"></i> rominajurado49@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +54 11 22538862</p>
              <p><i class="fa-brands fa-linkedin"></i> rjurado49</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2022 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/" style="text-decoration:none;"
                   >RominaJurado</a>
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end" >
              <!-- Facebook -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 href="https://www.facebook.com/rjurado49/photos_by" style="padding: 5px;"
                 ><i class="fab fa-facebook-f"></i></a>
  
                  <!-- github -->
              <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              href="https://github.com/rominaj49?tab=repositories" style="padding: 5px;"
              ><i class="fa-brands fa-github"></i></a>

              <!-- Twitter -->
              <a
                 class="btn btn-outline-light btn-floating m-1" style="padding: 5px;"
                 class="text-white"
                 role="button"
                 href="https://twitter.com/RominaJurado9" style="padding: 5px;"
                 ><i class="fab fa-twitter"></i
                ></a>

  
              <!-- Instagram -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 href="https://www.instagram.com/rjuradob/?next=%2Fbamascotas%2F&hl=es" style="padding: 5px;"
                 ><i class="fab fa-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  <!-- End of .container -->