<hr class="pill">
<div class="row m-0" id="education"style="background-color: #3a226c;" >
 <h1> Educación 📚 </h1> 
 <div class="col-lg-1"></div>
 <div class="col-lg-10 margen" data-aos="fade-right" >
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nam similique ipsam saepe doloribus non cumque recusandae architecto molestiae magnam velit, voluptates natus vero, aliquam minus asperiores laboriosam quaerat autem!
        </p>
    </ul>

    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nam similique ipsam saepe doloribus non cumque recusandae architecto molestiae magnam velit, voluptates natus vero, aliquam minus asperiores laboriosam quaerat autem!
        </p>
    </ul>

 </div>
</div>