
.conten{
  display: flex;
  grid-template-columns: repeat(2,1fr);
  size: 100%;
  align-items: center;

}
.girl{
  text-align: center;
  margin-left: 80px;

}

h1{
  font-family: "Poppins",sans-serif;
  color: white;
  font-size: 3rem; 
  text-align: left;
  margin: 40px 90px 40px;
  text-shadow: 2px 2px 2px #7e7e7e; 
  padding: 25px;
}

h2{
  font-family: 'Ruluko';
  font-weight: 600;
}

h3{
  font-family: 'Ruluko' sans-serif;
  font-size: 18px;
  font-weight: 500;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.btnadd{
  color: aqua;
}
.btnadd:hover{
  color: white;
  transition: 0.3s;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 20%;
  margin-left: 1px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 70%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #7E4AEB;
    border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 6%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #bfa1ff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #bfa1ff transparent transparent;
}

.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
    background-color: #bfa1ff;
    position: relative;
    border-radius: 6px;
    box-shadow: 20px -13px #9666ff;
    }
    
  
 .minibtn{
  color: #231541;

}
    .minibtn:hover{
      
      color: white;
      transition: 0.s;

    }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .h1{
    align-items: center;
    margin-left: 0;
  }
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  

  .left::after, .right::after {
  left: 6px;
  }
  
  .right {
  left: 0%;
  }
  .right::before{
    left: 60px;
  }
}

@media only screen and (max-width: 980px) and (min-width: 576px)  {

 
   .girl{
    display: none;
   }
}

@media(max-width: 576px){
 
  .main{
    grid-template-columns: none;
    }
   .girl{
    display: none;
  
  }
    .right::after {
      left: 22px;
    }
  
}
