
<main class="main">
  
  <div  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="info-content"  >
     <p >¿Are you looking for a developer web? <img src="../../../assets/Logosproyecto/giphy5.gif" alt="" height="60px" width="60px"> </p>
     
    <h1 class="entrada" > <span>Hi!</span> I'm <span>Romina </span> </h1>
     <p class="description">Welcome to my portfolio!</p>
  </div>

  <div class="girl">
    <img src="../../../assets/Logosproyecto/giphy3.gif" alt="" height="100%" width="100%"> 
  </div>
  
</main>