
<div class="row m-0" >
  <div>
    <h1>Skills
      <button  class="btn btn-outline-link " routerLink="/newskill" *ngIf="isLogged">
        <i class="fa-solid fa-circle-plus  fa-2x btnadd " ></i>
        </button> 
    </h1> 
  </div>
 
  

  <div class="text-center col sm-4 col-md-4 col-lg-4 circulos" data-aos="fade-right" *ngFor="let skill of skill">
    <circle-progress
    [percent]="(skill.porcentaje)"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/html2.png'"
    [showUnits]="false"
    [showTitle]="true"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="(skill.nombre)"
    [titleColor]="'white'"
    [titleFontSize]="'1.6em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="17"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'aqua'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1500"

  ></circle-progress>

  <div>
    <td *ngIf="isLogged">
      <button class="btn btn-outline-link  minibtn" routerLink="/editskill/{{skill.id}}">
          <i class="fa-solid fa-pen-to-square " ></i></button>
  </td>
  <td *ngIf="isLogged">
      <button class="btn btn-outline-link minibtn" (click)="delete(skill.id)">
          <i class="fa-sharp fa-solid fa-trash" ></i></button>
  </td>

  </div>
  </div>
    


















  <!-- <div class="text-center col sm-4 col-md-4 col-lg-4" data-aos="fade-right">
    <circle-progress
    [percent]="100"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/css.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#0065f4'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4" data-aos="fade-right">
    <circle-progress
    [percent]="40"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/js.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#fdd83c'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="60"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/pythono.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#646464'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="90"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/sass.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ce679a'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="50"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/react.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#53d2fa'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="40"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/angular.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="160"
    [imageHeight]="120"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#dd1b16'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>
  
  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="70"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/Bootstrap1.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="80"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#7b09f8'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="40"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/mysql.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#3765af'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="40"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/java.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#f45a3b'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="75"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/github.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="180"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#000000'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div>

  <div class="text-center col sm-4 col-md-4 col-lg-4"data-aos="fade-right">
    <circle-progress
    [percent]="60"
    [radius]="90"
    [imageSrc]="'../../../assets/Logosproyecto/icons/c++.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [title]="'HTML'"
    [titleColor]="'white'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#659bd3'"
    [innerStrokeColor]="'#FFFF'"
    [animation]="true"
    [animationDuration]="1000"

  ></circle-progress>
  </div> -->

</div>