@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');



.main {
    background-image:url(./../../../assets/Logosproyecto/Port.png);
    background-size: 100%;
    display: grid;
    align-items: center;
    gap: 2em;
    grid-template-columns: repeat(2,1fr);
    height:692px;

  }

  h1, p{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: white;
    margin-left: 30px;
    
  }

  .description{
    
    font-size: 20px;
  }
  
  .info-content span {
    color: aqua;
  }

  .info-content{
    margin-top: -50px;
  }

.entrada {
  overflow: hidden;
  font-family:'Montserrat';
  white-space: nowrap;
  font-size: 3.4em;
  color: #f2faff;
  width: 400px;
  border-right: 2px solid rgba(0, 0, 0, 0.87);
  animation: animacionIntro 2.8s steps(23, end),
  animacionBar 1s step-end infinite;
}

@keyframes animacionIntro {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}

@keyframes animacionBar {
  0%,
  100% {
    border-color: rgba(241, 59, 59, 0);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.87);
  }
}


@media only screen and (max-width: 1600px) and (min-width: 981px)  {
  .main{
    height: 692px;
    
    
  }
  .info-content{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 980px) and (min-width: 576px)  {

  .main{
    
    height: 627px;
    grid-template-columns: none;

  }
  .info-content{
    
    margin-top: 150px;
  }
 
   .girl{
    display: none;
   }
}

@media(max-width: 576px){

.main{
background-size: 100%;
grid-template-columns: none;
height: 100vh;
}
.girl{
display: none;

}
.info-content, .span{
  font-size: 10px;
}

.entrada{
  width: 209px;
  font-size:2.8em;
}
@keyframes animacionIntro {
  0% {
    width: 0;
  }
  100% {
    width: 209px; /*Correción de bug del puntero en el "Im Romina"*/
  }
}
}

