<div class="row m-0" id="home">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/Logosproyecto/APLogo.png" id="logoAP">
    </div>

    <div class="menu">
      <ul>

        <li><a href="#home">Home</a></li>
        <li><a href="#AcercaDe">Acerca de mi</a></li>
        <li><a href="#exp">Experience</a></li>
        <li><a href="#edu">Education</a></li>
        <li><a href="#projects">Projects</a></li>


        <div class="divnulo"></div>
        <a href="https://www.linkedin.com/in/rjurado49/"><img src="../../../assets/Logosproyecto/linkedin.png"
            id="linkedin"></a>
        <a href="https://github.com/rominaj49"><img src="../../../assets/Logosproyecto/github.png" id="github"></a>
        <li><button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
        </li>
        <li><button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION </button></li>

      </ul>

    </div>

  <span class="btn_menu" id="showmenu">
    <i class="fa-solid fa-bars"></i>
  </span>
  </div>

</div>