
<div class="row m-0" id="projects">
 <h1><img src="../../../assets/Logosproyecto/[.gif" alt="" height="70px" width="50px">Proyectos realizados<img src="../../../assets/Logosproyecto/].gif" alt="" height="70px" width="50px"> </h1> 
  <div class="contenedor text-center" data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine">
  
    <div class="col-sm-12 col-md-7 col-lg-5 parte1 " >
            <h2>Sysfitness Catalogue</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Rerum consequuntur temporibus eveniet consectetur fugiat adipisci 
            commodi, ratione, tempore eaque accusamus perspiciatis minus quae 
            doloremque! Fugit laudantium voluptates animi culpa voluptas?</p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
         <img src="../../../assets/Logosproyecto/web2.jfif" class="img-fluid img-proyecto">
    </div>
     
  </div>
</div>